*{
    font-family:'Lato', sans-serif;
    font-weight: bold;
    
    margin: 0;
    padding: 0;
}
:root{
    --color-1:#606C38;
    --color-2: #283618;
    --color-3: #FEFAE0;
    --color-4: #DDA15E;
    --color-5: #BC6C25;
}
body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header"
    "content content content"
    "footer footer footer";
    background-color: #FEFAE0;
    margin: auto;

}


header{
    grid-area: header;
    background-color: #606C38;
    text-align: center;
    text-decoration-color: white;
    text-indent: 5px;
    display: grid;
    grid-template-rows: 0.5;
    grid-template-columns: 0.5;
    grid-template-areas: "perfil nombre"
    "perfil texto";
    align-self: center;
    align-items: center;
    align-content: center;

}

.nombre, .texto{
    justify-content: flex-start;
}
.perfil{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 0ch;
    border-radius: 100%;
    display: block;
    grid-area: perfil;
    
}

@media screen and  (max-width:600px){
    header{
        display: grid;
        grid-template-areas: "perfil" "nombre" "texto";
        justify-items: center;
        align-self: center;
        align-content: center;
        
    }
}


h2{
    margin-top: 10%;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 900;

}

.content{
    display: flex;
    flex-direction: column;
    grid-area: content;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 25px;
    justify-content: space-evenly;
    
}


.aboutme{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#titulo{
    text-align: initial;
    
    grid-column-start: 1;
    grid-column-end: 3;
}

#botoncv{
    background-color: #BC6C25;
    border: #606C38;
    border-radius: 10%;
    font-style: bold;
    justify-items: end;
    display: inline-block;
    box-sizing: border-box;
}
#botoncv:hover{
    background-color: #DDA15E;
}
#audiocv{
    justify-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

#education{
    padding: auto;

}
table.education{
    
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-2);
    text-align: center;

    
}
tr.education{
    border: #283618;
    color: #FEFAE0;
    background-color: #283618;
    border: 1px solid #283618;
    border-collapse: collapse;
}
th.education{
    border: 1px solid #283618;
    border-collapse: collapse;
    text-align: center;
}

li.skills{
    border: 1px solid #283618;
    padding: 5;
    background-color: #283618;
    color: #FEFAE0;
    text-align: center;
    border-radius: 50px;
    display:inline-block;
}

ol.language{
    list-style:circle;
    display: inline-block;
}


.mensaje{
background-color: #DDA15E;
display: flexbox;
flex-direction: column;
align-items: center;


}
.mapa{
    padding: auto;
    align-content: center;


}

footer{
grid-area: footer;
background-color: #BC6C25;
color: white;
justify-content: space-evenly;
display: flex;
flex-direction: row;
justify-content: space-evenly;

}



