@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    margin: 0;
    padding: 0;
}

:root {
    --color-1: #606C38;
    --color-2: #283618;
    --color-3: #FEFAE0;
    --color-4: #DDA15E;
    --color-5: #BC6C25;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header"
        "content content content"
        "footer footer footer";
    background-color: #FEFAE0;
    margin: auto;

}


header {
    grid-area: header;
    background-color: #606C38;
    text-align: center;
    text-decoration-color: white;
    text-indent: 5px;
    display: grid;
    grid-template-rows: 0.5;
    grid-template-columns: 0.5;
    grid-template-areas: "perfil nombre"
        "perfil texto";
    align-self: center;
    align-items: center;
    align-content: center;
    color: white;

}

.nombre,
.texto {
    justify-content: flex-start;
}

.perfil {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 0ch;
    border-radius: 100%;
    display: block;
    grid-area: perfil;

}

h2 {
    margin-top: 10%;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 900;

}

.content {
    grid-area: content;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aboutme {
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}

audio {
    margin: 0 auto;
}

.informacion {
    display: flex;
    justify-content: space-around;
}

.row {
    max-width: 75ch;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.skills_box {
    color: var(--color-3);
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 900;
    background-color: var(--color-2);
    border-radius: 9999px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.25rem 0.5rem 0.2rem 0rem;
    line-height: 1.25rem;
    border-width: 1px; 
}

.skills_container {
    display: flex;
    flex-wrap: wrap;
}

.language ol {
    list-style: circle;
    display: inline-block;
}

#botoncv {
    background-color: #BC6C25;
    border: #606C38;
    border-radius: 10%;
    font-style: bold;
    justify-items: end;
    display: inline-block;
    box-sizing: border-box;
    color: #FEFAE0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#botoncv:hover {
    background-color: #DDA15E;
}

table.education {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-2);
    text-align: center;
}

tr.education {
    border: #283618;
    color: #FEFAE0;
    background-color: #283618;
    border: 1px solid #283618;
    border-collapse: collapse;
}

th.education {
    border: 1px solid #283618;
    border-collapse: collapse;
    text-align: center;
}

form {
    background-color: #DDA15E;
    padding: 10px;
    gap: 5px;
    margin: 0 auto;
}

.cuadrado {
    display: flex;
    align-items: center;
}

input {
    width: 90%;
    margin: 5px;
}

label {
    width: 10%;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    height: 100px;
}

input[type=submit] {
    width: 100px;
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: var(--color-5);
    color: var(--color-3);
    font-weight: bolder;
}

#archivo_media {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 400px;
}

audio {
    display: block;
    margin: 0 auto;
}

footer {
    grid-area: footer;
    background-color: #BC6C25;
    color: white;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width:767px) {
    header {
        display: grid;
        grid-template-areas: "perfil""nombre""texto";
        justify-items: center;
        align-self: center;
        align-content: center;

    }

    #archivo_media {
        width: auto;
        height: 200px;
    }

    
}