:root {
  --color-1: #ffc300;
  --color-2: #000814;
  --color-3: #003566;
  --color-4: #001d3d;
  --color-5: #ffd60a;
  --color-6: #ededed;
}

nav > div > span > p {
  color: var(--color-2);
}

h3 {
  color: var(--color-6);
}
.bg-gray {
  background-color: #e7e8eb;
}

.imagen {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 25%;
}

.bg-bl {
  background-color: #fff;
}

.color-red {
  color: #dc3545;
}

.color-green {
  color: #198754;
}

.ocultar {
  display: none;
  opacity: 0.1;
}
